body {
  margin: 0;
  font-family: Copperplate, sans-serif;
  color: #fff;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 42px;
  line-height: 63px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  display: block;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 962px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

@media (min-width: 1686px) {
  .container {
    width: 1260px;
  }
}

.page-header {
  position: relative;
  padding-top: 17px;
}

.page-header__tel {
  position: absolute;
  right: 40px;
  top: 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.page-header__tel a {
  text-decoration: none;
  color: #fff;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Copperplate, sans-serif;
}

.page-header__inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 340px;
  margin-top: 40px;
}

.page-header__inner .logo a {
  text-decoration: none;
}

.page-header__inner .logo-img {
  padding-bottom: 5px;
}

.page-header__inner .logo-img img {
  max-height: 80px;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 40px;
  left: 40px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  z-index: 99;
  background: linear-gradient(89.09deg, #000927 1.12%, #051954 98.55%);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

.main-nav__item--active > .main-nav__link {
  color: #fff;
}

.sticky .main-nav__link {
  color: #fff;
}

.sticky .main-nav__link:focus, .sticky .main-nav__link:hover {
  color: #fff;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}

.btn-main {
  width: 310px;
  height: 50px;
  border-radius: 100px;
}

.btn-sm {
  width: 235px;
}

.btn {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
  border-radius: 100px;
}

.btn .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn .btn__body .btn__text {
  width: 85%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  color: #fff;
}

.btn .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

.btn--non-arrows {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
  border-radius: 100px;
}

.btn--non-arrows .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn--non-arrows .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #fff;
}

.btn--non-arrows .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn--non-arrows .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}
/*# sourceMappingURL=style.css.map */